<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>

    <!--=============== Remixicons ===============-->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!--=============== Css ===============-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/skins/color-1.css" />

    <!--=============== Skin Colors ===============-->
    <link
      rel="stylesheet"
      href="css/skins/color-1.css"
      class="alternate-style"
      title="color-1"
      disabled
    />
    <link
      rel="stylesheet"
      href="css/skins/color-2.css"
      class="alternate-style"
      title="color-2"
      disabled
    />
  </head>
  <body>

     <!--=============== Header ===============-->

     <%- include('templates/nav');%>

    <!--=============== Blog Details ===============-->
    <div class="blog__header"></div>
    <section class="container">
      <div class="blog__details">
        <a href="/" class="back__to-home text-xs">
          <i class="ri-arrow-left-line"></i>Back</a>

        <h3 class="post__details-title text-lg"><%= title %></h3>

        <p class="post_details-date text-sm"><%= date %></p>

        <p class="post__details text-lg"><%= description %></p>

        <p class="post__details text-lg"><%= descriptionTwo %></p>

        <figure>
          <img src="/img/post-detail.jpg" alt="">
          <figcaption class="text-sm">
            Aspiraciones
          </figcaption>
        </figure>

        <p class="post__details text-lg">
          <%= descriptionThree %>
          
        </p>

        <div class="post__social-share">
          <span class="post__share text-lg">Share this post:</span>

          <div class="post__social-links">

            <a href="https://www.linkedin.com/in/diego-alexander-parra-calder%C3%B3n-81790a254/" class="post__share-links">
              <i class="ri-linkedin-box-fill"></i>
            </a>

            <a href="https://github.com/diego072117" class="post__share-links">
              <i class="ri-github-fill"></i>
            </a>

          </div>
        </div>
      </div>
    </section>

    <!--=============== Blog ===============-->
    <section class="blog section container" id="blog">
          <h2 class="section__title">Latest Posts_</h2>
    
          <div class="posts__container grid">
    
            <div class="post__card">
              <img src="/img/blog-1.png" alt="" class="post__img">
    
              <div class="post__content">
                <p class="post__date text-xs">October 22, 2017</p>
                <h3 class="post__title text-sm">HOW TO USE CSS-PREPROCESSOR</h3>
                <p class="post__description text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed
                  do eiusmod tempr incididu...
                </p>
              </div>
    
            </div>
    
            <div class="post__card">
              <img src="/img/blog-2.png" alt="" class="post__img">
    
              <div class="post__content">
                <p class="post__date text-xs">October 22, 2017</p>
                <h3 class="post__title text-sm">HOW I ORGANIZE MY WORK WITH CODE</h3>
                <p class="post__description text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed
                  do eiusmod tempr incididu...
                </p>
              </div>
    
            </div>
    
            <div class="post__card">
              <img src="/img/blog-3.png" alt="" class="post__img">
    
              <div class="post__content">
                <p class="post__date text-xs">October 22, 2017</p>
                <h3 class="post__title text-sm">SVG SPRITES VS ICON FONT</h3>
                <p class="post__description text-sm">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed
                  do eiusmod tempr incididu...
                </p>
              </div>
    
            </div>
    
          </div>
    </section>

    <!--=============== Contact ===============-->
  
    <%- include('templates/footer');%>



    <!--=============== Style Switcher ===============-->
    <div class="style__switcher">

      <div class="style__switcher-toggler">
        <i class="ri-settings-4-fill"></i>
      </div>
  
      <div class="colors">
        <span class="color-1" onclick="setActiveStyle('color-1')"></span>
        <span class="color-2" onclick="setActiveStyle('color-2')"></span>
      </div>
  
    </div>

    <!--=============== Email Js ===============-->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>

    <!--=============== Js ===============-->
    <script src="js/common.js"></script>
  </body>
</html>
